# PyCharm
.idea

# Log
log.txt

# Python
*__pycache__/

# virtualenv (Windows)
Include/
Lib/
Scripts/
pip-selfcheck.json
tcl/
venv/

# DLLs used by kivy
share/

# Buildozer
.buildozer/

# Buildozer module
buildozer/
