appdirs==1.4.3
attrs==17.2.0
Automat==0.6.0
bkcharts==0.2
bokeh==0.12.6
buildozer==0.33
cffi==1.10.0
colorama==0.3.9
constantly==15.1.0
coverage==4.4.1
#Cython==0.25.2
docutils==0.13.1
incremental==17.5.0
Jinja2==2.9.6
Kivy==1.10.0
Kivy-Garden==0.1.4
kivy.deps.glew==0.1.9
kivy.deps.sdl2==0.1.17
libnacl==1.5.0
MarkupSafe==1.0
olefile==0.44
packaging==16.8
pexpect==4.2.1
Pillow==4.1.1
prompt-toolkit==1.0.14
ptyprocess==0.5.1
py==1.4.34
pycparser==2.17
Pygments==2.2.0
pyparsing==2.2.0
pypiwin32==219
pytest==3.1.2
pytest-cov==2.5.1
python-dateutil==2.6.0
PyYAML==3.12
requests==2.14.2
six==1.10.0
toposort==1.5
tornado==4.5.1
Twisted==17.1.0
typing==3.6.1
virtualenv==15.1.0
wcwidth==0.1.7
zope.interface==4.4.1
